<div id="mobile-menu-container" class="fixed inset-0 top-20 z-20 invisible md:hidden">

  <div id="mobile-menu-wrapper" class="absolute inset-0 flex transform -translate-x-full transition-transform duration-300 ease-in-out">
    
    <div id="mobile-menu-panel" class="h-full w-48 bg-brand-bg/80 backdrop-blur-md flex-shrink-0">
      <div class="p-4 overflow-y-auto">
        <ul class="space-y-2">
          <li><a href="/#products" class="block text-left font-semibold text-gray-700 hover:text-brand-text hover:bg-black/10 rounded-md px-3 py-2">Products</a></li>
          <li><a href="/blogs/tutorials" class="block text-left font-semibold text-gray-700 hover:text-brand-text hover:bg-black/10 rounded-md px-3 py-2">Tutorials</a></li>
          <li><a href="/pages/about" class="block text-left font-semibold text-gray-700 hover:text-brand-text hover:bg-black/10 rounded-md px-3 py-2">About</a></li>
          <li><a href="/pages/contact" class="block text-left font-semibold text-gray-700 hover:text-brand-text hover:bg-black/10 rounded-md px-3 py-2">Contact</a></li>
        </ul>
      </div>
    </div>

    <div id="mobile-menu-backdrop" class="h-full flex-grow bg-black/50 opacity-0 transition-opacity duration-300"></div>

  </div>
</div>