<main class="max-w-4xl mx-auto px-4 py-12">
  <div class="mb-8">
      <a href="{{ blog.url }}" class="text-brand-primary font-semibold hover:underline">
          &larr; Back to all tutorials
      </a>
  </div>
  <article class="prose prose-xl max-w-none">
    <h1 class="font-heading text-4xl font-bold mb-4 text-brand-text">{{ article.title }}</h1>
    {{ article.content }}
  </article>
</main>
{% schema %}
{
  "name": "Article",
  "settings": []
}
{% endschema %}