<div class="max-w-3xl mx-auto py-16 px-4">
  {%- if page.content != blank -%}
    <div class="prose max-w-none">
      {{ page.content }}
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Page - No Title",
  "settings": []
}
{% endschema %}